.container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.NodesContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.modeButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  composes: noSelect from "../../index.module.css";
  composes: transparentButton from "../../index.module.css";
  font-size: 20px;
  padding: 5px;
}
