.header {
  font-size: 24px;
  padding: 5px;
}

.chip {
  cursor: pointer;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  border: 1px solid black;
}

.selectedChipId {
  cursor: pointer;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  border: 1px solid green;
}

.close {
  padding: 20px;
  cursor: pointer;
  border: none;
  color: var(--buttons-text-color-transparent);
  float: right;
  font-size: 24px;
  background: var(--buttons-bg-color-transparent);
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
