.container {
  padding: 25px;
  padding-top: 50px;
}

.header {
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
}

.description {
  font-size: 16px;
  padding: 5px;
}

.truthTable {
  padding: 5px;
  padding-text-outline: 20px;
}
